<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/tra_history">TRA History</a></li>
          <li><a href="">How To Order</a></li>
          <li><a href="/contact_us">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <div class="title">Car Manufacturers</div>
        <ul>
          <li><a href="/products?car_brands=HINO">HINO</a></li>
          <li><a href="/products?car_brands=ISUZU">ISUZU</a></li>
          <li><a href="/products?car_brands=MITSUBISHI">MITSUBISHI</a></li>
          <li><a href="/products?car_brands=NISSAN">NISSAN</a></li>
          <li><a href="/products?car_brands=DAEWOO">DAEWOO</a></li>
          <li><a href="/products?car_brands=TOYOTA">TOYOTA</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <div class="title">Part Categories</div>
        <ul>
          <li><a href="">Coolant Pump Assy</a></li>
          <li><a href="">Products</a></li>
        </ul>
      </div>
      <div class="col-sm-5 text-right">
        <ul>
          <li>T.R.A Trading Co., Ltd.</li>
          <li>579 soi Suan Mali Center, Bamrung Muang Rd</li>
          <li>Khlong Maha Nak, Pom Prap Sattru Phai, 10100</li>
          <li>Bangkok, Thailand</li>
          <li><span>tel:</span>&nbsp;+(66) 2 224 9268</li>
          <li><span>email:</span><a href="">&nbsp;admin@traautoparts.com</a></li>
        </ul>
      </div>
      <div class="col-sm-1">
        <a href="/">
          <img id="site-logo" src="/assets/images/tra_logo.png" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>
