<div class="col-xs-12 visible-xs-block">
  <form id="mobile-search-form" action="/products/search">
    <div class="input-group">
      <input type="text" class="form-control"
                         placeholder="{{__ 'search_for_products'}}"
                         name="query"
                         value="{{query}}">
      <button class="btn" type="submit">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </form>
</div>
