<div class="col-xs-12 visible-xs-block">
  <form id="mobile-search-form" action="/products/search">
    <div>
      <input type="text" class="form-control"
                         placeholder="{{__ 'search_for_products'}}"
                         name="query"
                         value="{{query}}">
      <span class="glyphicon glyphicon-search"></span>
    </div>
  </form>
</div>
