{{#if step}}
  <div id="order-steps" class="hidden-xs hidden-sm {{step}}">
{{else}}
  <div id="order-steps" class="hidden-xs hidden-sm">
{{/if}}
  <div class="row">
    <div id="step-1" class="col-md-4 step">
      <div>
        <span>1</span>
        <div class="text">Confirm Order</div>
      </div>
      <div class="arrow"></div>
    </div>
    <div id="step-2" class="col-md-4 step">
      <div>
        <span>2</span>
        <div class="text">Confirm Contact Info</div>
      </div>
      <div class="arrow"></div>
    </div>
    <div class="col-md-4 step">
      <div>DONE !</div>
    </div>
  </div>
</div>
