<div class="dropdown-content">
  <div class="arrow-up-container">
    <div class="bg"></div>
    <div class="fg"></div>
  </div>
  <ul>
    <li><div class="topic">By Products</div></li>
    <li><a href="/products?categories=Water%20Pump%20Assy">Water Pump Assy<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    <li><hr/></li>
    <li><div class="topic">By Car Manufacturers</div></li>
    <li><a href="/products?car_brands=HINO">HINO<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    <li><a href="/products?car_brands=ISUZU">ISUZU<span class="glyphicon glyphicon-chevron-right"></span></a></a></li>
    <li><a href="/products?car_brands=MITSUBISHI">MITSUBISHI<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    <li><a href="/products?car_brands=NISSAN">NISSAN<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    <li><a href="/products?car_brands=DAEWOO">DAEWOO<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    <li><a href="/products?car_brands=TOYOTA">TOYOTA<span class="glyphicon glyphicon-chevron-right"></span></a></li>
  </ul>
</div>
