<div class="dropdown-content">
  <div class="arrow-up-container">
    <div class="bg"></div>
    <div class="fg"></div>
  </div>
  <ul>
    <li><div class="topic">By Products</div></li>
    <li><a href="#">Water Pump Assy<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    <li><hr/></li>
    <li><div class="topic">By Car Manufacturers</div></li>
    <li><a href="#">HINO<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    <li><a href="#">ISUZU<span class="glyphicon glyphicon-chevron-right"></span></a></a></li>
    <li><a href="#">MITSUBISHI<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    <li><a href="#">NISSAN<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    <li><a href="#">TOYOTA<span class="glyphicon glyphicon-chevron-right"></span></a></li>
  </ul>
</div>
