<div class="dropdown-content">
  <div class="arrow-up-container">
    <div class="bg"></div>
    <div class="fg"></div>
  </div>
  <ul>
    <li><div class="th topic">{{__ "by_products"}}</div></li>
    <li>
      <a href="/products?subcategories=Coolant+Pump+Assy" class="th">{{__ "coolant_water_pump"}}
        <span class="glyphicon glyphicon-chevron-right"></span></a>
    </li>
    <li><hr/></li>
    <li><div class="topic th">{{__ "by_car_manufacturers"}}</div></li>
    <li><a href="/products?car_brands=HINO">HINO<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    <li><a href="/products?car_brands=ISUZU">ISUZU<span class="glyphicon glyphicon-chevron-right"></span></a></a></li>
    <li><a href="/products?car_brands=MITSUBISHI">MITSUBISHI<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    <li><a href="/products?car_brands=NISSAN">NISSAN<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    <li><a href="/products?car_brands=DAEWOO">DAEWOO<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    <li><a href="/products?car_brands=TOYOTA">TOYOTA<span class="glyphicon glyphicon-chevron-right"></span></a></li>
  </ul>
</div>
