<div id="map">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-title th th-big">{{__ 'tra_trading_office'}}</div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-3 office">
        <h3 class="hidden-xs th th-medium">{{__ 'tra_trading_company_name'}}</h3>
        <p class="address th">{{__ 'tra_address'}}</p>
        <p><span class="glyphicon glyphicon-phone-alt"></span>+(66) 2 224 9268</p>
        <p><span class="glyphicon glyphicon-envelope"></span>admin@traautoparts.com</p>
      </div>
      <div class="col-sm-12 col-md-9">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5233.3027757983955!2d100.50934518265615!3d13.750704801911084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2993c0a392f75%3A0xb6fa226f637d709f!2z4Lia4Lij4Li04Lip4Lix4LiXIOC4l-C4tSDguK3guLLguKPguYwg4LmA4LitIOC5gOC4l-C4o-C4lOC4lOC4tOC5ieC4hyDguIjguLPguIHguLHguJQ!5e0!3m2!1sen!2s!4v1463802524694"
          width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
