.DS_Store
node_modules

assets/js/dist/app.js
assets/js/dist/app.min.js
assets/css/app.css
assets/css/app.css.map
assets/images/products
assets/images/slips/*

assets/css/dashboard.css
assets/css/dashboard.css.map
assets/js/dist/dashboard/bundle.min.js
assets/js/dist/dashboard/bundle.js

app.secret

img_process/images/*
