<div class="missing-page">
  <div class="page-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="th th-big">{{__ 'finding_products?'}}</h2>
        </div>
      </div>
      <div class="row content">
        <div class="col-sm-12 text-center">
          <p><a class="th" href="/products">{{__ 'checkout_products'}}</a></p>
        </div>
      </div>
    </div>
  </div>

  {{> home_products}}
</div>
