<div id="hero">
  <div class="container">
    <div class="row">
      <div class="brand">TRA</div>
      <div class="text th th-medium">{{__ 'product_summary'}}</div>
    </div>
    <div class="btn-container">
      <a class="btn th" href="/products">{{__ 'our_products'}}</a>
    </div>
    <div class="img-container">
      <img src="/assets/images/truck.png" alt="">
    </div>
  </div>
</div>

<div id="leading" class="container">
  <div class="row">
    <div class="col-md-12 text">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
      vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 hilight">
      <span class="icon icon-cup"></span>
      <div>
        <div class="title">
          Leading Water Pump Assy
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna aliquyam erat
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 hilight">
      <span class="icon icon-money-bag"></span>
      <div>
        <div class="title">
          Save Your Money!
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna aliquyam erat
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 hilight">
      <span class="icon icon-like"></span>
      <div>
        <div class="title">
          Leading Water Pump Assy
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna aliquyam erat
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 hilight">
      <span class="icon icon-gear"></span>
      <div>
        <div class="title">
          Leading Water Pump Assy
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna aliquyam erat
        </div>
      </div>
    </div>
  </div>
</div>

{{> home_products}}

<div id="car-manufacturers">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-title th th-big">{{__ 'auto_parts_by_cars'}}<hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 car-images">
        <img class="small" src="/assets/images/truck.png" alt="">
        <img class="medium" src="/assets/images/truck.png" alt="">
        <img class="big" src="/assets/images/truck.png" alt="">
      </div>
    </div>
    <div class="row brands">
      <div class="col-md-2">
        <a href="/products?car_brands=NISSAN">
          <span class="red">N</span>ISSAN
        </a>
      </div>
      <div class="col-md-2">
        <a href="/products?car_brands=MITSUBISHI">
          <span class="red">M</span>ITSUBISHI
        </a>
      </div>
      <div class="col-md-2">
        <a href="/products?car_brands=TOYOTA">
          <span class="red">T</span>OYOTA
        </a>
      </div>
      <div class="col-md-2">
        <a href="/products?car_brands=HINO">
          <span class="red">H</span>INO
        </a>
      </div>
      <div class="col-md-2">
        <a href="/products?car_brands=DAEWOO">
          <span class="red">D</span>AEWOO
        </a>
      </div>
      <div class="col-md-2">
        <a href="/products?car_brands=ISUZU">
          <span class="red">I</span>SUZU
        </a>
      </div>
   </div>
  </div>
</div>

{{> tra_map }}

<div class="back-to-top th">
  <a href="#">[ {{__ 'back_to_top'}} ]</a>
</div>

