<div id="tra-history" class="page-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center th th-big">{{__ 'tra_company_name'}}</h2>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-10 col-sm-offset-1 th th-small">
        {{{__ 'tra_history_details'}}}
      </div>
    </div>
    <div class="row images">
      <div class="col-sm-6">
        <img class="img-responsive" src="/assets/images/tra/tra_shop.jpg" alt="TRA Trading">
      </div>
      <div class="col-sm-6">
        <img class="img-responsive" src="/assets/images/tra/tra_sign.jpg" alt="TRA Trading sign">
      </div>
      <div class="col-sm-4 hidden-xs">
        <img class="img-responsive" src="/assets/images/tra/products_1.jpg" alt="TRA Products">
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="/assets/images/tra/products_4.jpg" alt="TRA Products 2">
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="/assets/images/tra/products_2.jpg" alt="TRA Products 3">
      </div>
      <div class="col-sm-4 hidden-xs">
        <img class="img-responsive" src="/assets/images/tra/warehouse_1.jpg" alt="TRA Warehouse">
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="/assets/images/tra/warehouse_2.jpg" alt="TRA Warehouse 2">
      </div>
      <div class="col-sm-4">
        <img class="img-responsive" src="/assets/images/tra/warehouse_3.jpg" alt="TRA Warehouse 3">
      </div>
    </div>
  </div>

  {{> tra_map}}
</div>
