.order.content {
  .grey-text {
    color: $dark-grey;
  }
  h2 {
    padding-bottom: 0;
  }
  .title {
    color: $blue;
  }
  table {
    margin-top: 0;
  }
  table tbody tr td {
    vertical-align: top;
  }
  .customer-info {
    h5 {
      line-height: 1.8em;
      span {
        margin-right: 1em;
        width: 6em;
        display: inline-block;
      }
    }
  }
}
