.product-category {
  table.table.table-striped {
    input {
      width: 100%;
      padding-left: 0.5em;
    }
    .new-item {
      background-color: #ccd1ff;
    }
    .list-category,
    .list-subcategory {
      button {
        font-size: 0.7em;
      }
    }
    td.actions {
      min-width: 130px;
    }
  }
}
