.products {
  form {
    margin-bottom: 3em;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    div.image {
      width: 33.33%;
      padding: 0 5px;
      margin-bottom: 0.8em;
      .primary-image {
        outline: 3px solid #ff7171;
        outline-offset: -3px;
      }
    }
  }
  .form-action {
    margin-top: 3em;
    .btn {
      margin: 0 0.5em;
    }
  }
  .no-records {
    div {
      font-size: 1.5em;
      color: $dark-grey;
      margin-bottom: 0.5em;
    }
    a {
      text-decoration: underline;
    }
    margin: 2em 0;
    padding-left: 0.5em;
  }
}

