<div id="order-success">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 info text-center">
        <h3 class="title">We've Got Your Order</h3>
        <div class="summary">We are processing your order and will contact you back shortly.</div>
        <div class="order">
          <div>Your order number is <span>{{ refId }}</span></div>
          </div>
        <div class="email">
          <div class="info">
            Email confirmation has been sent to <span>{{ email }}</span>
          </div>
          <div class="details">
            If you don't receive the email, please contact
            <a href="mailto:hello@traautoparts.com?Subject=Not%20Received%20Order%20Id">
              hello@traautoparts.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="order-page-action text-center">
            <a class="btn btn-success" href="/products">Continue Shopping</a>
          </div>
      </div>
    </div>
  </div>
</div>
