$black: #4A4A4A;
$text-black: #2B3A41;

$dark-grey: #ABABAB;
$grey: #E2E2E2;
$light-grey: #F9F9F9;

$light-red: #FF6666;
$red: #E41C24;

$green: #6AD48F;
$light-green: #8EE8AE;
$dark-green: #40AF7A;

$blue: #6C97F4;
