@font-face {
  font-family: 'butlerregular';
  src: url('../fonts/butler_regular-webfont.woff2') format('woff2'),
       url('../fonts/butler_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'thai_sans_lite_regular';
    src: url('../fonts/thaisanslite_r1.woff2') format('woff2'),
         url('../fonts/thaisanslite_r1.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
