body[lang='th'] {
  @mixin th() {
    font-family: 'kanitlight', sans-serif !important;
    font-size: 18px;
  }
  .th {
    @include th();
  }

  .th-big {
    font-size: 3.2rem !important;
    letter-spacing: 1px !important;
  }

  .th-medium {
    font-size: 2.3rem !important;
  }

  .th-small {
    font-size: 1.5rem !important;
  }

  .nav-menus > ul > li > a {
    @include th();
    @media (max-width: $screen-md-max) {
      font-size: 16px;
    }
  }
}
