body[lang='th'] {
  @mixin th() {
    font-family: 'thai_sans_lite_regular' !important;
    font-size: 24px !important;
  }
  .th {
    @include th();
    &.btn {
      padding: 0.2em 1em !important;
    }
  }

  .th-big {
    font-size: 3.8rem !important;
    letter-spacing: 1px !important;
  }

  .th-medium {
    font-size: 2.7rem !important;
  }

  nav ul li {
    a {
      @include th();
    }
  }
}
