<html>
  <head>
    <link rel="icon" type="image/png" href="/assets/images/tra_logo.png">
    <link rel="alternate" hreflang="x-default" href="http://www.traautoparts.com/" />
    <link rel="alternate" hreflang="th" href="http://th.traautoparts.com/" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0&#45;alpha.2/css/bootstrap.min.css" -->
    <!-- integrity="sha384&#45;y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Kanit:300" rel="stylesheet"> -->
    <link rel="stylesheet" href="/assets/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body lang="{{lang}}">
    {{> loading}}
    {{> header}}
    {{{ content }}}
    {{> footer}}
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" 
      integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
      crossorigin="anonymous"></script>
    <script src="/assets/js/dist/app.js"></script>
  </body>
</html>
