<div id="product-show">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="images">
          <img src="/assets/images/products/water_pump_assy/WPA-001.jpg">
        </div>
      </div>
      <div class="colmd-6 col-lg-6 info">
        <p class="name">
          Proto Pump Bla bla...<span>WPA-0001</span>
        </p>
        <p><span>Water Pump Assy</span> | <span>Water Pump Assy</span></p>
        <p>HINO</p>
        <div>
          <p>MEGA, Super Turbo, EURO2</p>
          <p>Part no. 16100-1122</p>
          <p>Engine model: EH100</p>
          <p>Remark: KOMATSU SK200</p>
        </div>
      </div>
    </div>
  </div>
</div>

